# Ignorar archivos de configuración de IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Ignorar archivos de configuración de Visual Studio Code
.vscode/
*.code-workspace

venv/
env/
.env
*.key
*.pem
*.cert

# Ignorar archivos compilados o binarios
*.class
*.exe
*.out

# Archivos compilados de python
*.pyc
__pycache__/

